.header {
    background-image: url('assets/images/layout/header-sky.jpg');
}

.nav a {
    color: black;
}

.nav a:hover{
    color: grey;
}

.footer p{
    font-size: 13px;
}

article p{
    font-size: 14px;
}

figcaption {
    font-size: 11px;
}